body{
    background-color: lightblue;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
span{
    background-color: green;
}